body {

    background-image: url('back1.png'); /* ضع رابط الصورة هنا */
    background-size: cover; /* يجعل الصورة تمتد لتملأ الصفحة */
    background-position: center; /* يضع الصورة في المنتصف */
    background-repeat: no-repeat; /* يمنع تكرار الصورة */
    width: 100vw; /* يضمن عرض كامل الشاشة */
    height: 100vh; /* يضمن ارتفاع كامل الشاشة */
    margin: 0; /* إزالة أي هوامش قد تسبب فراغات */
    padding: 0;
}

   





header {
    width: 100vw; /* يجعل العرض يملأ الشاشة */
     /* يمكنك ضبط الارتفاع */
    background-image: url('log1.jpg'); /* ضع رابط الصورة */
    background-size: contain;
    background-position: top center; /* يضع الصورة في الأعلى */
    background-repeat: no-repeat;
height: 155px;

  background-size: 100% auto; /* يجعل العرض كاملاً والارتفاع متناسقًا */
}

#hadith iframe {
    display: block;
    margin: 10px auto;
     border-radius: 50px;

 width: 050%;
    height: 400px; /* يمكنك تعديل الارتفاع */
    display: block;
    border: none; /* إزالة الحدود */
}






}





main {
  
margin-right: 260px; /* التأكد من أن المحتوى لا يغطي القسم الجانبي */
  
    display: flex;
}
#announcement-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff; /* يمكنك تعديل اللون */
}





#sidebar {
    width: 200px;
    position: absolute;
  background-color: rgba(150, 200, 155, 0.0); /* يجعل الخلفية شفافة */

    right: 0; /* يحافظ على العنصر في الطرف الأيمن */
  top: 155px;
    height: calc(100vh - 209px);
   
    padding: 20px;
    overflow-y: auto;
}



